<br><br>
<div class="container">
       
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center">    
  <!-- <div fxLayout="row" fxLayoutAlign="space-around center" > -->
     <div class="p1">
      Red Div
      </div> 
    <div class="p1" style="background-color:green">
      Green Div
      </div>
    <!-- <div class="p1">
      Enter Your Name:-  <input type="text" name="name"><br><br>
      Enter Your Email Id:-  <input type="text" name="email">
    </div> -->

     <!-- <div class="p1">
       <input type="radio" name="gender" value="male" checked> Male<br><br>
       <input type="radio" name="gender" value="female"> Female<br><br>
    </div> -->

     <div class="p1" style="background-color:purple">
      Purple Div
    </div>

    <div class="p1" style="background-color:yellow">
      Yellow Div
    </div>

  </div>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center"> 
   <!-- <div fxLayout="row" fxLayoutAlign="space-around center" > -->

    <div class="p1" style="background-color:blue">
      Black Div
    </div>

    <div class="p1" style="background-color:pink">
      Pink Div
    </div>

    <div class="p1" style="background-color:goldenrod">
      Goldenrod Div
    </div>

   <div class="p1" style="background-color:peru">
      Peru Div
    </div>

   </div>
  
 </div>

